<h1 style='color: black; font-size: 20px; font-weight: bold;'>Linear Regression</h1>

# <font color='grey' style='font-size: 18px;'>Libraries</font>

In [4]:
import pandas as pd
import numpy as np

### The Project
<hr>

#### Data source: https://www.kaggle.com/dongeorge/beer-consumption-sao-paulo

#### Overview:
<p style='font-size: 15px; line-height: 2; margin: 10px 50px; text-align: justify;'>Beer is one of the most democratic and consumed drinks in the world. Not without reason, it is perfect for almost every situation, from happy hour to large wedding parties. If you just think about it, you already feel like having a beer, you’re not alone..</p>

<p style='font-size: 15px; line-height: 2; margin: 10px 50px; text-align: justify;'>The objective of this training will be to estimate a <b>Machine Learning</b> model using the <b>Linear Regression</b> technique to demonstrate the impacts of the variables provided in this dataset on beer consumption (Y). At the end of the project we will have a forecast model for the average beer consumption according to the inputs of a set of variables (X's).</p>

<p style='font-size: 15px; line-height: 2; margin: 10px 50px; text-align: justify;'>The data (sample) were collected in São Paulo — Brazil, in a university area, where there are some parties with groups of students from 18 to 28 years of age (average). The dataset used for this activity has 7 attributes, being a Target, with period of one year.</p>

#### Columns:
<ul style='font-size: 15px; line-height: 2; text-align: justify;'>
    <li><b>data</b> - Data</li>
    <li><b>temp_media</b> - Temperatura Média (°C)</li>
    <li><b>temp_min</b> - Temperatura Mínima (°C)</li>
    <li><b>temp_max</b> - Temperatura Máxima (°C)</li>
    <li><b>chuva</b> - Precipitação (mm)</li>
    <li><b>fds</b> - Final de Semana (1 = Sim; 0 = Não)</li>
    <li><b>consumo</b> - Consumo de Cerveja (litros)</li>
</ul>

# <font color='grey' style='font-size: 18px;'>Understanding the Dataset</font>

In [9]:
df = pd.read_csv("Data/Consumo_cerveja.csv", sep = ";")

In [10]:
df.head()

         data  temp_media  temp_min  temp_max  chuva  fds  consumo
0  01/01/2015       27.30      23.9      32.5    0.0    0    25461
1  02/01/2015       27.02      24.5      33.5    0.0    0    28972
2  03/01/2015       24.82      22.4      29.9    0.0    1    30814
3  04/01/2015       23.98      21.5      28.6    1.2    1    29799
4  05/01/2015       23.82      21.0      28.3    0.0    0    28900

In [11]:
df.rename(columns={"temp_media": "temp_mean", "chuva": "rain", 
                   "fds": "weekend", "consumo": "consuption"}, inplace = True)

In [12]:
df.head()

         data  temp_mean  temp_min  temp_max  rain  weekend  consuption
0  01/01/2015      27.30      23.9      32.5   0.0        0       25461
1  02/01/2015      27.02      24.5      33.5   0.0        0       28972
2  03/01/2015      24.82      22.4      29.9   0.0        1       30814
3  04/01/2015      23.98      21.5      28.6   1.2        1       29799
4  05/01/2015      23.82      21.0      28.3   0.0        0       28900